
<h2 class="text-center mt-3">Liste des profils de sortie</h2>
<table class="table col-sm-12 mt-5">

  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Libelle</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Développeur back</td>

    <td>

      <a [routerLink]="['edit']" class="btn-primary ml-3" >Editer</a>

      <a  [routerLink]="['sup']" class="btn-primary ml-3">Supprimer</a>

    </td>

  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Développeur front</td>
    <td>

      <a [routerLink]="['edit']" class="btn-primary ml-3" >Editer</a>

      <a  [routerLink]="['sup']" class="btn-primary ml-3">Supprimer</a>

    </td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Développeur fullstack</td>
    <td>

      <a [routerLink]="['edit']" class="btn-primary ml-3" >Editer</a>

      <a  [routerLink]="['sup']" class="btn-primary ml-3">Supprimer</a>

    </td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Intégrateur Web</td>
    <td>

      <a [routerLink]="['edit']" class="btn-primary ml-3" >Editer</a>

      <a  [routerLink]="['sup']" class="btn-primary ml-3">Supprimer</a>

    </td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>Designer Web</td>
    <td>

      <a [routerLink]="['edit']" class="btn-primary ml-3" >Editer</a>

      <a  [routerLink]="['sup']" class="btn-primary ml-3">Supprimer</a>

    </td>
  </tr>
  <tr>
    <th scope="row">6</th>
    <td>Référent Digital</td>
    <td>

      <a [routerLink]="['edit']" class="btn-primary ml-3" >Editer</a>

      <a  [routerLink]="['sup']" class="btn-primary ml-3">Supprimer</a>

    </td>
  </tr>
  <tr>
    <th scope="row">7</th>
    <td>Community Manager</td>
    <td>

      <a [routerLink]="['edit']" class="btn-primary ml-3" >Editer</a>

      <a  [routerLink]="['sup']" class="btn-primary ml-3">Supprimer</a>

    </td>
  </tr>
  <tr>
    <th scope="row">8</th>
    <td>Data Scientist</td>
    <td>

      <a [routerLink]="['edit']" class="btn-primary ml-3" >Editer</a>

      <a  [routerLink]="['sup']" class="btn-primary ml-3">Supprimer</a>

    </td>
  </tr>
  <tr>
    <th scope="row">9</th>
    <td>IOT</td>
    <td>

      <a [routerLink]="['edit']" class="btn-primary ml-3" >Editer</a>

      <a  [routerLink]="['sup']" class="btn-primary ml-3">Supprimer</a>

    </td>
  </tr>
  </tbody>
</table>
<router-outlet></router-outlet>

