<div class="container d-flex justify-content-center">
<div class="row ">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"  src="data:image/jpeg;base64,{{Users.photo}}" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{Users.id}}</li>
        <li class="list-group-item">{{Users.prenom}}</li>
        <li class="list-group-item">{{Users.nom}}</li>
        <li class="list-group-item">{{Users.email}}</li>
        <li class="list-group-item">{{Users.profil.libelle}}</li>
      </ul>
    </div>
      </div>
    </div>
</div>
