<div class="col-sm-4 mb-4 mt-5">
<div class="card cadre1 bg-warning" style="width: 20rem;">
  <div class="card-header">
   {{referentiels.libelle}}
    <div class="icon">
      <i class="fas fa-pencil-alt ml-4"></i>
      <i class="fas fa-trash-alt ml-2" (click)="supReferentiel()"></i>
    </div>

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item " style="height: 13rem;">{{referentiels.presentation}}</li>
    <li class="height list-group-item " *ngFor="let groupeComp of referentiels.groupeCompetence">{{groupeComp.libelle}}</li>
    <li class="list-group-item">{{referentiels.critereEvaluation}}</li>
    <li class="list-group-item">{{referentiels.critereAdmission}}</li>
  </ul>
</div>
</div>
