<div class="container shadow-lg p-3 mb-5 bg-white rounded mt-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-sm-12">
      <h3 class="text-center text-capitalize text-primary">Bienvenue sur la d'ajout des utilisateur</h3>
      <form [formGroup]="competenceForm" (ngSubmit)="onSubmit()">
        <div class="form-row mt-5">
          <div class="form-group col-sm-6">
            <label for="libelle">Libelle</label>
            <input type="text" class="form-control" id="libelle"  placeholder="libelle" [formControlName]="'libelle'">
          </div>

          <div class="form-group col-sm-6">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" id="description" placeholder="Description" [formControlName]="'description'"></textarea>
          </div>



          <div class="form-group col-sm-6">
            <label >Compétences</label>
            <ng-multiselect-dropdown
              [placeholder]="'niveau'"
              [data]="niveau"
              [settings]="dropdownSettings"
              [formControlName]="'niveau'"
            >
            </ng-multiselect-dropdown>
          </div>
          <button type="submit" class="btn btn-primary w-100">Soumettre</button>
        </div>
      </form>

    </div>
  </div>
</div>


