.container{
  border-radius: 5px;
  border: 2px solid;
  width: 70%;
  margin-top: 140px;
  margin-left: 150px;
}

.form-horizontal{
margin-top: 70px;

}
.text-center{

  text-transform: uppercase;
  font-weight: 500;
}
