<div class="container shadow-lg p-3 mb-5 bg-white rounded">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12">
      <h3 class="text-center text-capitalize text-primary">Page de modification d'utilisateur</h3>
      <form [formGroup]="UsresForms" (ngSubmit)="onSubmit()">
        <div class="form-row mt-5">
          <div class="form-group col-sm-6">
            <label for="prenom">Prenom</label>
            <input type="text" class="form-control" id="prenom"  placeholder="prénom" [formControlName]="'prenom'">
          </div>
          <div class="form-group col-sm-6">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom" placeholder="nom" [formControlName]="'nom'">
          </div>

          <div class="form-group col-sm-6">
            <label for="username">Usename</label>
            <input type="text" class="form-control" id="username" placeholder="Username" [formControlName]="'username'">
          </div>

          <div  class="form-group col-sm-6">
            <label for="email">Adresse mail</label>
            <input type="text" class="form-control" id="email" placeholder="Adresse mail" [formControlName]="'email'">
          </div>

          <div class="form-group col-sm-6">
            <label for="telephone">Telephone</label>
            <input type="text" class="form-control" id="telephone" placeholder="Telephone" [formControlName]="'telephone'">
          </div>

          <div class="form-group col-sm-6">
            <label for="type">Type</label>
            <input type="text" class="form-control" id="type" placeholder="Telephone" [formControlName]="'type'">
          </div>

          <div  class="form-group col-sm-6">
            <label for="adresse">Adresse</label>
            <input type="text" class="form-control" id="adresse" placeholder="Adresse mail" [formControlName]="'adresse'">
          </div>

          <div class="form-group col-sm-6">
            <label for="password">password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" [formControlName]="'password'" [(ngModel)]="this.Users.password">
          </div>
          <div class="form-group col-sm-6">
            <label for="profil">Profil</label>
            <select class="form-control" id="profil" [formControlName]="'profil'">
              <option>ADMIN</option>
              <option>FORMATEUR</option>
              <option>CM</option>
              <option>APPRENANT</option>
            </select>
          </div>
          <div class="form-group">
            <label for="file">Avatar</label>
            <input type="file" class="form-control" id="file" name="photo" (change)="UploadFile($event)" [formControlName]="'photo'">
          </div>
          <button type="submit" class="btn btn-primary w-100">Soumettre</button>
        </div>
      </form>

    </div>
  </div>
</div>


