<app-item-users></app-item-users>
<div class="container-fluid">
<div class="row">
  <div class="col-sm-5 ">
    <svg xmlns="http://www.w3.org/2000/svg" [routerLink]="['/head/addUser']" width="30" height="30"   fill="currentColor" class="bi bi-person-plus-fill justify-content-lg-between"  viewBox="0 0 16 16">
      <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      <path fill-rule="evenodd"  d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
    </svg>



<table class="table table-bordered table-sm table-responsive-sm mt-5 p-5 ml-5" style="width: 100%">
  <thead class="thead-dark ">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Avatar</th>
    <th scope="col"> Nom</th>
    <th scope="col">Prénom</th>
    <th scope="col">Mail</th>
    <th scope="col">Profil</th>
    <th scope="col" class="text-center">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users | paginate: { itemsPerPage: 3, currentPage: p }">
    <th scope="row">{{user.id}}</th>
    <td>
      <img style="height: 50px; width: 50px" src="data:image/jpeg;base64,{{user.photo}}" alt="">
    </td>
    <td>{{user.nom}}</td>
    <td>{{user.prenom}}</td>
    <td>{{user.email}}</td>
    <td>{{user.profil.libelle}}</td>
    <td class="text-center">
      <a class="btn btn-outline-primary" [routerLink]="['detailusers',user.id]">Détail</a>
      <a class="btn btn-outline-success ml-3" [routerLink]="['/head/editUsers', user.id]">Editer</a>
      <a class="btn btn-outline-danger ml-3">Supprimer</a>
    </td>
  </tr>
  </tbody>
</table>
    <pagination-controls class="justify-content-center d-flex" (pageChange)="p = $event"></pagination-controls>
</div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>

</div>

</div>

