
<div class="container mt-5">
  <div class="form-group">
    <label for="search-text">Search Text</label>
    <input type="email" class="form-control" id="search-text" aria-describedby="search-text"
           [(ngModel)]="searchText" placeholder="Enter text to search"
           autofocus>
  </div>
<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-lg-10 col-xl-10">
    <div class="row float-right ">
      <div class="col-10 col-sm-3 col-lg-3  col-md-3" style="margin-left: -50px;">
        <i class="fas fa-user " [routerLink]="['/head/addUser']" width="30" height="30"></i>
      </div>
    </div>


<div>
  <button class="btn btn-primary" [routerLink]="['/head/userArchive']">Users archive</button>
</div>


<table class="table table-bordered mt-5 table-responsive-sm ">

  <thead class="thead-dark ">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Avatar</th>
    <th scope="col"> Nom</th>
    <th scope="col">Prénom</th>
    <th scope="col">Mail</th>
    <th scope="col">Profil</th>
    <th scope="col" class="text-center ">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users | paginate: { itemsPerPage: 3, currentPage: p } |  filter: searchText">
    <th scope="row">{{user.id}}</th>
<!--    <p>{{user.photo}}</p>-->
    <td>
      <span *ngIf="user.photo !== 'aW1hZ2U=' && user.photo != null">
        <img style="height: 50px; width: 50px" src="data:image/jpeg;base64,{{user.photo}}"  alt="">
      </span>
      <span *ngIf="!user.photo || user.photo == 'aW1hZ2U='">
        <img style="height: 50px; width: 50px" src="https://source.unsplash.com/1080x720/?users"  alt="">
      </span>
    </td>
    <td>{{user.nom | titlecase}}</td>
    <td>{{user.prenom | titlecase}}</td>
    <td>{{user.email}}</td>
    <td>{{user.profil.libelle}}</td>
    <td class="text-xl-center col-12">
      <a class="btn btn-outline-primary" [routerLink]="['/head/utili/detailusers',  user.id]">Détail</a>
      <a class="btn btn-outline-success ml-3" [routerLink]="['/head/editUsers', user.id]">Editer</a>
      <a class="btn btn-outline-danger ml-3" (click)="deleteUsers(user.id)">Supprimer</a>
    </td>
  </tr>
  </tbody>
</table>
    <router-outlet></router-outlet>
    <pagination-controls class="justify-content-center d-flex" (pageChange)="p = $event"></pagination-controls>
</div>
</div>

</div>


