<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <form class="form-container">
        <div class="box">
          <h1 class="ml-5 text-center text-primary">Créer Promo</h1>

          <div class="form-group col-sm-12 mt-5">
            <label >Choix de la langue </label>
            <select class="form-control  btn-primary">
              <option>Français</option>
              <option>Anglais</option>
              <option>Espagnol</option>
              <option>Arabe</option>
              <option>Wolof</option>
            </select>
          </div>

          <div class="form-group col-sm-12">
            <label >Titre</label>
            <input type="text" class="form-control"  placeholder="Choisissez le titre le plus clair, le plus pro et le plus accrocheur possible">
          </div>

          <div class="form-group  col-sm-12">
            <label >Description</label>
            <textarea class="form-control" rows="1"></textarea>
          </div>

          <div class="form-group col-sm-12">
            <label >Lieu de la promotion</label>
            <input type="text" class="form-control"  placeholder="">
          </div>

          <div class="form-group col-sm-12">
            <label >Référence Agate</label>
            <input type="text" class="form-control"  placeholder="">
          </div>

          <div class="form-group col-sm-12">
            <label >Choix de la Fabrique </label>
            <select class="form-control  btn-primary">
              <option>Français</option>
              <option>Anglais</option>
              <option>Espagnol</option>
              <option>Arabe</option>
              <option>Wolof</option>
            </select>
          </div>

          <div class="form-group col-sm-12">
            <label >Date de début</label>
            <input type="date" class="form-control"  placeholder="">
          </div>

          <div class="form-group col-sm-12">
            <label >Date de fin</label>
            <input type="date" class="form-control"  placeholder="">
          </div>

          <div class="row ml-1">
            <div class="form-group col-sm-3 mt-3">
              <label >Référentiels</label>
              <textarea class="form-control" rows="1" placeholder=""></textarea>
            </div>
            <div class="col-sm-3 mt-5">
              <textarea class="form-control" rows="1" placeholder=""></textarea>
            </div>
            <div class="col-sm-3  mt-5">
              <textarea class="form-control" rows="1" placeholder=""></textarea>
            </div>
            <br>
            <div class="col-sm-3  mt-5">
              <textarea class="form-control" rows="1" placeholder=""></textarea>
            </div>

          </div>
          <div class="row ml-1">
            <div class="col-sm-3">
              <textarea class="form-control" rows="1" placeholder=""></textarea>
            </div>
            <div class="col-sm-3">
              <textarea class="form-control" rows="1" placeholder=""></textarea>
            </div>
            <div class="col-sm-3">
              <textarea class="form-control" rows="1" placeholder=""></textarea>
            </div>
            <br>
            <div class="col-sm-3">
              <textarea class="form-control" rows="1" placeholder=""></textarea>
            </div>

          </div>

          <div class="form-group col-sm-5 mt-4">
            <label >Faire glisser une image</label>
            <input type="file" class="form-control"  placeholder="">
          </div>
        </div>


      </form>

    </div>
  </div>
</div>


