*{
  box-sizing: border-box;
}
.container-fluid{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.form-container{
  background-color: #fff;
  padding: 30px;
  border-right: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  width: 100%;
}

