<table class="table col-sm-12 mt-5">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Libelle</th>
    <th scope="col" class="ml-5">Actions</th>

  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>

      <a  class="btn btn-primary" >Détail</a>

      <a  class="btn btn-primary ml-3" >Editer</a>

      <a class="btn btn-primary ml-3">Supprimer</a>

    </td>

  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>
      <a  class="btn btn-primary" >Détail</a>

      <a  class="btn btn-primary ml-3">Editer</a>

      <a class="btn btn-primary ml-3">Supprimer</a>
    </td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Larry</td>
    <td>
      <a  class="btn btn-primary" >Détail</a>

      <a  class="btn btn-primary ml-3">Editer</a>

      <a class="btn btn-primary ml-3">Supprimer</a>
    </td>
  </tr>
  </tbody>
</table>

